.QuizPage-question-section {
  padding: 1rem 4rem;
  height: 20rem;
}

.QuizPage-question-section h1 {
  text-decoration: underline;
}

.QuizPage-button-answers-section {
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 0;
  width: 19rem;
}
