.app {
  text-align: center;
}

.app-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  margin-bottom: 2rem;
  color: rgb(84, 214, 175);
  text-decoration: underline;
  cursor: pointer;
}
