.ResultsPage-score-section {
  padding: 0.5rem 5rem;
  border: 1px solid rgb(26, 192, 142);
  border-radius: 1rem;
  text-align: center;
}

.ResultsPage-questions-section {
  padding: 1rem 4rem;
  text-align: left;
}

.ResultsPage-question {
  margin: 1rem 0;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ResultsPage-question.correct {
  color: rgb(26, 192, 142);
}

.ResultsPage-question.incorrect {
  color: rgb(207, 72, 45);
}

.ResultsPage-question svg {
  margin-right: 1rem;
  position: relative;
  top: 0.15rem;
}
